.about_container {
  display: grid;
  place-items: center;
}

.about_pic {
  height: 300px;
  background-image: url(https://placekeanu.com/300/300*);
  box-shadow: 0 0 40px 20px black inset, $genericBoxShadow;

  width: 300px;
  margin-bottom: 2rem;
  border-radius: 150px;

  &:hover {
    animation: backgroundIMG .7s linear;
  }
}

.about_container,
.box1,
.box2 {
  margin: 2rem 0;
}

.box1 {
  h2 {
    text-align: center;
  }
}

.box3 {
  text-align: right;
}

.moon_ul {
    display: flex;
    align-items: center;
    margin: 2rem;
    list-style-type: none;
    gap: 1rem;
  
    .fa-moon {
      font-size: 1.5rem;
    }
  }