header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;

  background: #1a1919;
  height: 3rem;
  width: 100%;

  top: 0;
  z-index: 3;

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
  }
}
