@mixin circleSytle ($width, $height) {
    display: inline-block;
        width: $width;
        height: $height;
        border-radius: 50%;
        background: whiteSmoke;
        position: relative;
}