.portfolio_container {
  display: grid;
  justify-content: center;
  align-items: center;
}

.rune {
  opacity: 0;
  width: 100px;
  max-height: 200px;
  position: absolute;
}

.perthro {
  max-height: 150px;
}

.portal {
  opacity: 0;
  position: absolute;
  width: 270px;
}

.book1,
.book2,
.book3,
.book4 {
  @extend %bookStyle;

  .portfolio_example {
    background-image: url(https://picsum.photos/150/200);
    border-radius: 5px;

    width: 150px;
    height: 200px;
  }

  .portfolio_text {
    color: black;
    width: 150px;
    height: 200px;

    h3 {
      font-size: 1rem;
    }
  }
}
