/* Fontsa */
$alice: "Alice", system-ui;
$cinzel: "Cinzel Decorative", serif;

/* Colors */
$black: #000000;
$grey: #1a1919;
$white: #f0f0ee;
$gold: #deb975;
$brown: #201f1e;

$genericBoxShadow: 0 0 30px 10px #111111;