* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ----- GENERAL IMPORTS ----- */
@import "variables";
@import "placeholders";
@import "header";
@import "body";
@import "footer";
@import "links";

/* ----- ABOUT STYLE ----- */

@import "about-boxes";
@import "about-pic";

/* ----- Portfolio STYLE -----*/
@import "portfolio-books";

.wrapper {
  margin: 6rem 2rem;

  h1 {
    text-align: center;
  }
}

form {
  background-image: url(../images/Crystal-Ball.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 350px;
  height: 480px;
  padding-top: 5rem;

  display: flex;
  flex-direction: column;
  align-items: center;

}
