* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ----- MAIN IMPORTS ----- */
@import "variables";
@import "placeholders";
@import "keyframes";
@import "mixins";
@import "media-quieries";
@import "header";
@import "body";
@import "footer";
@import "links";

/* ----- INDEX STYLE ----- */
@import "index-cards";

/* ----- ABOUT STYLE ----- */
@import "about-boxes";
@import "about-pic";

/* ----- PORTFOLIO STYLE -----*/
@import "portfolio-books";

/* ----- CONTACT STYLE ----- */
@import "contact-form";
@import "contact-circles";

.wrapper {
  margin: 6rem 2rem;

  h1 {
    font-family: $cinzel;
    text-align: center;
    font-size: 4rem;
    text-shadow: 10px 10px 10px rgb(30, 15, 44);
  }
}
