* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ----- IMPORTS ----- */
/* Fontsa */
/* Colors */
.body_wrapper .wands, .body_wrapper .rings, .body_wrapper .star {
  background-size: cover;
  text-decoration: none;
  width: 250px;
  height: 435px;
  box-shadow: 0 0 30px 10px #111111;
  border-radius: 20px;
}

.body_wrapper .wands .container, .body_wrapper .rings .container, .body_wrapper .star .container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 150px;
  left: 75px;
  background-color: rgba(255, 255, 255, 0.8784313725);
  width: 100px;
  height: 100px;
  border-radius: 20px;
  transform: rotate(45deg);
}
.body_wrapper .wands .container p, .body_wrapper .rings .container p, .body_wrapper .star .container p {
  transform: rotate(-45deg);
  color: #000000;
  font-size: 1.5rem;
}

.book1,
.book2,
.book3,
.book4 {
  background-image: url(../images/book.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 4rem 0;
  width: 350px;
  height: 250px;
}

@keyframes backgroundIMG {
  100% {
    background-image: url(../images/potion_green.png);
    background-size: contain;
    background-repeat: no-repeat;
  }
}
@keyframes wiggle {
  0%, 10%, 100% {
    transform: translateX(0);
  }
  1%, 3%, 5%, 7%, 9% {
    transform: translateX(-10px) rotate(15deg);
  }
  2%, 4%, 6%, 8% {
    transform: translateX(10px) rotate(-15deg);
  }
}
header {
  background: #1a1919;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
}
header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4588235294), black), url(../images/BG-planks.jpg);
  background-size: cover;
  background-attachment: fixed;
  color: white;
  font-family: "Alice", system-ui;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  background: #1a1919;
  height: 3rem;
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: #504f4f;
}

/* ----- INDEX STYLE ----- */
.body_wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  margin: 7rem auto;
}
.body_wrapper .potion_black {
  opacity: 0;
  position: absolute;
}
.body_wrapper .star {
  background-image: url(../images/tarot_the-star.jpg);
  position: relative;
}
.body_wrapper .star .container {
  opacity: 1;
  transition: all 0.7s linear;
}
.body_wrapper .star:hover .container {
  opacity: 0;
}
.body_wrapper .rings {
  background-image: url(../images/tarot_eight-of-rings.jpg);
}
.body_wrapper .rings .container {
  transition: all 0.7s linear;
}
.body_wrapper .rings:hover .container {
  opacity: 0;
}
.body_wrapper .wands {
  background-image: url(../images/tarot_five-of-wands.PNG);
}
.body_wrapper .wands .container {
  transition: all 0.7s linear;
}
.body_wrapper .wands:hover .container {
  opacity: 0;
}

/* ----- ABOUT STYLE ----- */
.about_container {
  display: grid;
  place-items: center;
}

.about_pic {
  height: 300px;
  background-image: url(../images/Matze.jpg);
  background-position: center;
  background-size: contain;
  box-shadow: 0 0 40px 20px black inset, 0 0 30px 10px #111111;
  width: 300px;
  margin-bottom: 2rem;
  border-radius: 150px;
}
.about_pic:hover {
  animation: backgroundIMG 0.7s linear;
}

.about_container,
.box1,
.box2 {
  margin: 2rem 0;
}

.box1 h2 {
  text-align: center;
}

.box3 {
  text-align: right;
}

.moon_ul {
  width: 400px;
  display: flex;
  justify-content: space-between;
  margin: 2rem;
  list-style-type: none;
}

.fa-moon {
  font-size: 1.5rem;
  position: relative;
  left: 220px;
}

.animate_pic1,
.animate_pic3 {
  opacity: 0;
  position: absolute;
  width: 200px;
  z-index: -1;
}

.animate_pic2 {
  width: 150px;
  opacity: 0;
  position: absolute;
  z-index: -1;
}

/* ----- PORTFOLIO STYLE -----*/
.portfolio_container {
  display: grid;
  justify-content: center;
}

.rune {
  opacity: 0;
  width: 100px;
  max-height: 200px;
  position: absolute;
}

.perthro {
  max-height: 150px;
}

.portal {
  opacity: 0;
  position: absolute;
  width: 270px;
}

.book1 .portfolio_example,
.book2 .portfolio_example,
.book3 .portfolio_example,
.book4 .portfolio_example {
  background-image: url(https://picsum.photos/150/200);
  border-radius: 5px;
  width: 150px;
  height: 200px;
}
.book1 .portfolio_text,
.book2 .portfolio_text,
.book3 .portfolio_text,
.book4 .portfolio_text {
  color: black;
  width: 150px;
  height: 200px;
}
.book1 .portfolio_text h3,
.book2 .portfolio_text h3,
.book3 .portfolio_text h3,
.book4 .portfolio_text h3 {
  font-size: 1rem;
}

/* ----- CONTACT STYLE ----- */
.contact_form {
  background-image: url(../images/Crystal-Ball.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 350px;
  height: 480px;
  padding-top: 5rem;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact_form button {
  margin-top: 1rem;
}

.wrapper {
  margin: 6rem 2rem;
}
.wrapper h1 {
  font-family: "Cinzel Decorative", serif;
  text-align: center;
  font-size: 4rem;
  text-shadow: 10px 10px 10px rgb(30, 15, 44);
}

/* ----- MEDIA QUIERIES ----- */
@media screen and (min-width: 768px) {
  /* ----- INDEX ----- */
  .body_wrapper {
    place-items: center;
    width: 70%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0;
    row-gap: 2rem;
    grid-template-areas: "star blck rings" " . wands .";
  }
  .body_wrapper .star {
    grid-area: star;
  }
  .body_wrapper .potion_black {
    grid-area: blck;
    position: relative;
    opacity: 1;
    width: 100px;
  }
  .body_wrapper .rings {
    grid-area: rings;
  }
  .body_wrapper .wands {
    grid-area: wands;
  }
  /* ----- ABOUT ----- */
  .about_container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 100px 1fr;
    grid-template-areas: "pic box1" "box2 apic1" "apic3 apic3" "apic2 box3";
  }
  .about_container .about_pic {
    grid-area: pic;
  }
  .about_container .box1 {
    grid-area: box1;
  }
  .about_container .box2 {
    grid-area: box2;
  }
  .about_container .box3 {
    grid-area: box3;
    text-align: right;
  }
  .about_container .animate_pic1 {
    grid-area: apic1;
    opacity: 0.8;
    position: relative;
    animation: wiggle 5s infinite;
  }
  .about_container .animate_pic2 {
    grid-area: apic2;
    opacity: 0.8;
    position: relative;
    animation: wiggle 5s infinite 2.5s;
  }
  .about_container .animate_pic3 {
    grid-area: apic3;
    opacity: 1;
    position: relative;
    transform: rotate(90deg);
    height: 500px;
  }
  /* ----- PORTFOLIO ----- */
  .portfolio_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    gap: 2rem;
    grid-template-areas: "book1 rune book2" "book3 rune book4";
  }
  .portfolio_container .book1 {
    grid-area: book1;
  }
  .portfolio_container .book2 {
    grid-area: book2;
  }
  .portfolio_container .book3 {
    grid-area: book3;
  }
  .portfolio_container .book4 {
    grid-area: book4;
  }
  .portfolio_container .rune {
    grid-area: rune;
  }
  .portfolio_container .portal {
    opacity: 0.8;
  }
  .portfolio_container .book1:hover + .eiwaz {
    opacity: 1;
  }
  .portfolio_container .book2:hover + .algiz {
    opacity: 1;
  }
  .portfolio_container .book3:hover + .ansuz {
    opacity: 1;
  }
  .portfolio_container .book4:hover + .perthro {
    opacity: 1;
  }
}/*# sourceMappingURL=main.css.map */