* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ----- IMPORTS ----- */
@import "variables";
@import "placeholders";
@import "body";
@import "footer";

/* ----- GENERAL STYLES ----- */

.body_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;

  margin: 7rem 0;

  .star {
    background-image: url(../images/tarot_the-star.jpg);
    @extend %tarotStyle;
    position: relative;

    .container {
      @extend %overlayStyle;
      transition: all 0.7s linear;
    }

    &:hover {
      .container {
        opacity: 0;
      }
    }
  }

    .rings {
      background-image: url(../images/tarot_eight-of-rings.jpg);
      @extend %tarotStyle;

      .container {
        @extend %overlayStyle;
        transition: all 0.7s linear;
      }

      &:hover {
        .container {
          opacity: 0;
        }
      }
    }

    .wands {
      background-image: url(../images/tarot_five-of-wands.jpg);
      @extend %tarotStyle;

      .container {
        @extend %overlayStyle;
        transition: all 0.7s linear;
      }

      &:hover {
        .container {
          opacity: 0;
        }
      }
    }
  }

/* ----- MEDIA QUIERIES ----- */

@media screen and (min-width) {
}
