* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ----- VARIABLES ----- */

$black: #000000;
$grey: #1a1919;
$white: #f0f0ee;
$gold: #deb975;
$brown: #201f1e;

$genericBoxShadow: 0 0 30px 10px #111111;

/* ----- PLACEHOLDERS ----- */

%tarotStyle {
  background-size: cover;
  text-decoration: none;
  width: 250px;
  height: 400px;
  box-shadow: $genericBoxShadow;
}

%overlayStyle {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  top: 150px;
  left: 75px;

  background-color: #ffffffe0;
  width: 100px;
  height: 100px;
  border-radius: 20px;
  transform: rotate(45deg);

  p {
    transform: rotate(-45deg);
    color: $black;
    font-size: 1.5rem;
  }
}

/* ----- KEYFRAMES ----- */

/* ----- GENERAL STYLES ----- */

body {
  background-image: linear-gradient(transparent, #000000b2, black),
    url(../images/BG-planks.jpg);
  background-size: cover;
  background-attachment: fixed;

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;

    margin: 7rem 0;
    .star {
      background-image: url(../images/tarot_the-star.jpg);
      @extend %tarotStyle;
      position: relative;

      .container {
        @extend %overlayStyle;
        transition: all 0.7s linear;
      }

      &:hover {
        .container {
          opacity: 0;
        }
      }
    }

    .rings {
      background-image: url(../images/tarot_eight-of-rings.jpg);
      @extend %tarotStyle;

      .container {
        @extend %overlayStyle;
        transition: all 0.7s linear;
      }

      &:hover {
        .container {
          opacity: 0;
        }
      }
    }

    .wands {
      background-image: url(../images/tarot_five-of-wands.jpg);
      @extend %tarotStyle;

      .container {
        @extend %overlayStyle;
        transition: all 0.7s linear;
      }

      &:hover {
        .container {
          opacity: 0;
        }
      }
    }
  }
}

footer {
  background: #1a1919;
  height: 3rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;

  a:link {
    color: white;
  }

  a:visited {
    color:#504f4f;
  }
}

/* ----- MEDIA QUIERIES ----- */
